/* .cardComment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  
}
.sectionComment h2{
    color: black;
} */
.cardComment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }